# Import

In [691]:
import numpy as np
import pandas as pd

In [692]:
# visualization

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# data

In [693]:
df = pd.read_csv('finish-crime-weather.csv')

In [694]:
df = df.drop('Unnamed: 0',1)
df = df.drop('Unnamed: 0.1',1)

In [695]:
df.head()

,DAY_OF_WEEK,DISTRICT,HOUR,Lat,Long,MONTH,OCCURRED_ON_DATE,OFFENSE_CODE_GROUP,REPORTING_AREA,SHOOTING,...,Day,Night,ToNight,ToDay,DAY,temperatureMin,temperatureMax,precipitation,snow,temperatureDifference
0,Sunday,2.0,6,42.346381,-71.103794,7,2012-07-08 06:00:00,Residential Burglary,629.0,0.0,...,1,0,16,0,8,30.0,45.0,0.0,0.0,15.0
1,Sunday,1.0,6,42.316841,-71.074585,7,2012-07-08 06:03:00,Aggravated Assault,327.0,1.0,...,1,0,16,0,8,30.0,45.0,0.0,0.0,15.0
2,Sunday,2.0,6,42.342841,-71.096990,7,2012-07-08 06:26:00,Robbery,625.0,0.0,...,1,0,16,0,8,30.0,45.0,0.0,0.0,15.0
3,Sunday,1.0,6,42.316441,-71.065829,7,2012-07-08 06:56:00,Other,258.0,0.0,...,1,0,16,0,8,30.0,45.0,0.0,0.0,15.0
4,Sunday,9.0,7,42.270516,-71.119900,7,2012-07-08 07:15:00,Robbery,496.0,0.0,...,1,0,15,0,8,30.0,45.0,0.0,0.0,15.0

In [696]:
df.isnull().sum()

DAY_OF_WEEK                  0
DISTRICT                  1776
HOUR                         0
Lat                      20020
Long                     20020
MONTH                        0
OCCURRED_ON_DATE             0
OFFENSE_CODE_GROUP           0
REPORTING_AREA           20265
SHOOTING                     0
UCR_PART                    93
YEAR                         0
Day                          0
Night                        0
ToNight                      0
ToDay                        0
DAY                          0
temperatureMin               0
temperatureMax               0
precipitation            69889
snow                     54332
temperatureDifference        0
dtype: int64

# Preperation for multi label classifiaction

In [697]:
# it is list cilumns which we use for m-l-c 

list_column = [
    'DAY_OF_WEEK',
    'DISTRICT',
    'HOUR',
    'MONTH',
    'YEAR',
    'Day',
    'Night',
    'ToNight',
    'ToDay',
    'DAY',
    'temperatureMin',
    'temperatureMax',
    'precipitation',
    'snow',
    'temperatureDifference',
    'OFFENSE_CODE_GROUP'    
]

In [698]:
df = df[list_column]

In [699]:
df.head()

,DAY_OF_WEEK,DISTRICT,HOUR,MONTH,YEAR,Day,Night,ToNight,ToDay,DAY,temperatureMin,temperatureMax,precipitation,snow,temperatureDifference,OFFENSE_CODE_GROUP
0,Sunday,2.0,6,7,2012,1,0,16,0,8,30.0,45.0,0.0,0.0,15.0,Residential Burglary
1,Sunday,1.0,6,7,2012,1,0,16,0,8,30.0,45.0,0.0,0.0,15.0,Aggravated Assault
2,Sunday,2.0,6,7,2012,1,0,16,0,8,30.0,45.0,0.0,0.0,15.0,Robbery
3,Sunday,1.0,6,7,2012,1,0,16,0,8,30.0,45.0,0.0,0.0,15.0,Other
4,Sunday,9.0,7,7,2012,1,0,15,0,8,30.0,45.0,0.0,0.0,15.0,Robbery

In [700]:
df.OFFENSE_CODE_GROUP.value_counts()

Other                              94887
Motor Vehicle Accident Response    50952
Larceny                            50405
Medical Assistance                 40666
Simple Assault                     33528
Violations                         33449
Investigate Person                 31683
Vandalism                          28750
Drug Violation                     28637
Larceny From Motor Vehicle         23588
Towed                              18807
Property Lost                      18270
Investigate Property               17724
Verbal Disputes                    15931
Fraud                              14570
Aggravated Assault                 13587
Residential Burglary               12339
Warrant Arrests                    10400
Missing Person Located              9719
Robbery                             9619
Auto Theft                          9476
Property Found                      8239
Name: OFFENSE_CODE_GROUP, dtype: int64

In [701]:
list_offense_code_groups = [
    'Motor Vehicle Accident Response',
    'Larceny',
    'Medical Assistance',
    'Simple Assault',
    'Violations',
    'Investigate Person',
    'Vandalism',
    'Drug Violation',
    'Larceny From Motor Vehicle'
]

In [702]:
df_new = pd.DataFrame()

i = 0

while i < len(list_offense_code_groups):

    df_new = df_new.append(df.loc[df['OFFENSE_CODE_GROUP'] == list_offense_code_groups[i]])
    
    i+=1

In [703]:
df_new.shape

(321658, 16)

In [704]:
df_new.columns

Index(['DAY_OF_WEEK', 'DISTRICT', 'HOUR', 'MONTH', 'YEAR', 'Day', 'Night',
       'ToNight', 'ToDay', 'DAY', 'temperatureMin', 'temperatureMax',
       'precipitation', 'snow', 'temperatureDifference', 'OFFENSE_CODE_GROUP'],
      dtype='object')

In [705]:
df = df_new

In [706]:
# year -> mounth -> day -> hour -> district

In [707]:
# DAY_OF_WEEK

df['DAY_OF_WEEK'] = df['DAY_OF_WEEK'].map({
    'Tuesday':2, 
    'Saturday':6, 
    'Monday':1, 
    'Sunday':7, 
    'Thursday':4, 
    'Wednesday':3,
    'Friday':5
})

df['DAY_OF_WEEK'].unique()

array([7, 1, 2, 3, 4, 5, 6])

In [708]:
df.OFFENSE_CODE_GROUP.unique()

array(['Motor Vehicle Accident Response', 'Larceny', 'Medical Assistance',
       'Simple Assault', 'Violations', 'Investigate Person', 'Vandalism',
       'Drug Violation', 'Larceny From Motor Vehicle'], dtype=object)

In [709]:
df.OFFENSE_CODE_GROUP = df.OFFENSE_CODE_GROUP.map({
    'Motor Vehicle Accident Response':1, 
    'Larceny':2, 
    'Medical Assistance':3,
    'Simple Assault':4, 
    'Violations':5, 
    'Investigate Person':6, 
    'Vandalism':7,
    'Drug Violation':8, 
    'Larceny From Motor Vehicle':9
})

In [710]:
df.loc[df.YEAR == 2013].loc[df.MONTH == 1].loc[df.DAY == 1].loc[df.HOUR == 5].loc[df.DISTRICT == 1]

,DAY_OF_WEEK,DISTRICT,HOUR,MONTH,YEAR,Day,Night,ToNight,ToDay,DAY,temperatureMin,temperatureMax,precipitation,snow,temperatureDifference,OFFENSE_CODE_GROUP
43349,2,1.0,5,1,2013,0,1,0,2,1,39.0,52.0,0.0,0.0,13.0,2
43345,2,1.0,5,1,2013,0,1,0,2,1,39.0,52.0,0.0,0.0,13.0,3
43350,2,1.0,5,1,2013,0,1,0,2,1,39.0,52.0,0.0,0.0,13.0,5

In [711]:
df.columns

Index(['DAY_OF_WEEK', 'DISTRICT', 'HOUR', 'MONTH', 'YEAR', 'Day', 'Night',
       'ToNight', 'ToDay', 'DAY', 'temperatureMin', 'temperatureMax',
       'precipitation', 'snow', 'temperatureDifference', 'OFFENSE_CODE_GROUP'],
      dtype='object')

In [712]:
df.DISTRICT.unique()

array([ 10.,   8.,   2.,   3.,   6.,   7.,   9.,   1.,  12.,   4.,   5.,
        11.,  nan])

In [713]:
# from 2012-07

#df.loc[df.YEAR == 2012].loc[df.MONTH == 7]

# Create new data set

In [714]:
df_labels = pd.DataFrame()

In [715]:
df_labels['DAY_OF_WEEK'] = 0
df_labels['DISTRICT'] = 0
df_labels['HOUR'] = 0
df_labels['MONTH'] = 0
df_labels['Day'] = 0
df_labels['Night'] = 0
df_labels['ToNight'] = 0
df_labels['ToDay'] = 0
df_labels['temperatureMin'] = 0
df_labels['temperatureMax'] = 0
df_labels['temperatureDifference'] = 0
df_labels['precipitation'] = 0
df_labels['snow'] = 0

In [716]:
df_labels['Motor_Vehicle_Accident_Response'] = 0
df_labels['Larceny'] = 0
df_labels['Medical_Assistance'] = 0
df_labels['Simple_Assault'] = 0
df_labels['Violations'] = 0
df_labels['Investigate_Person'] = 0
df_labels['Vandalism'] = 0
df_labels['Drug_Violation'] = 0
df_labels['Larceny_From_Motor_Vehicle'] = 0

### Fucnctions

In [717]:
def select_year(year):
    
    dataset = df.loc[df.YEAR == year]
    
    return dataset

In [718]:
#df = df.append({'A': i}, ignore_index=True)

def append_row(
    ds,
    df_labels,
    
    day_of_week,
    district,
    hour,
    month,
    day,
    night,
    ToNight,
    ToDay,
    temMin,
    temMax,
    temDif,
    precip,
    snow,
    
    g1,
    g2,
    g3,
    g4,
    g5,
    g6,
    g7,
    g8,
    g9
):
    df_labels = df_labels.append(
        {
            'DAY_OF_WEEK':day_of_week, 
            'DISTRICT':district,
            'HOUR':hour, 
            'MONTH':month, 
            'Day':day, 
            'Night':night, 
            'ToNight':ToNight,
            'ToDay':ToDay, 
            'temperatureMin':temMin, 
            'temperatureMax':temMax, 
            'temperatureDifference':temDif,
            'precipitation':precip, 
            'snow':snow, 
            'Motor_Vehicle_Accident_Response':g1, 
            'Larceny':g2,
            'Medical_Assistance':g3, 
            'Simple_Assault':g4, 
            'Violations':g5,
            'Investigate_Person':g6, 
            'Vandalism':g7, 
            'Drug_Violation':g8,
            'Larceny_From_Motor_Vehicle':g9
        },
        ignore_index = True
    ) 
    
    return df_labels

In [719]:
def create_binary_label(group_unique, group):
    
    if (group in group_unique):
        return 1
    else:
        return 0

### 2012

In [720]:
ds = select_year(2012)

In [721]:
i = 0
# month
month = 1
while month <= 12:
    
    day_max = ds.DAY.loc[ds.MONTH == month].max()
    day = 1
    
    while day <= day_max:
        
        hour = 0
        
        while hour < 24:
            
            district = 1
            
            while district < 13:
                
                select = (ds.MONTH == month) & (ds.DAY == day) & (ds.HOUR == hour) & (ds.DISTRICT == district)
                
                group_unique = ds.OFFENSE_CODE_GROUP.loc[select].unique()
                                
                if len(ds.loc[select]) != 0:
                    
                    i += 1
                    
                    
                    
                    df_labels = append_row(
                        ds,
                        df_labels,
    
                        day_of_week = float(ds.DAY_OF_WEEK.loc[select].unique()),
                        district = float(ds.DISTRICT.loc[select].unique()),
                        hour = float(ds.HOUR.loc[select].unique()),
                        month = float(ds.MONTH.loc[select].unique()),
                        day = float(ds.Day.loc[select].unique()),
                        night = float(ds.Night.loc[select].unique()),
                        ToNight = float(ds.ToNight.loc[select].unique()),
                        ToDay = float(ds.ToDay.loc[select].unique()),
                        temMin = float(ds.temperatureMin.loc[select].unique()),
                        temMax = float(ds.temperatureMax.loc[select].unique()),
                        temDif = float(ds.temperatureDifference.loc[select].unique()),
                        precip = float(ds.precipitation.loc[select].unique()),
                        snow = float(ds.snow.loc[select].unique()),
    
                        g1 = create_binary_label(group_unique,1),
                        g2 = create_binary_label(group_unique,2),
                        g3 = create_binary_label(group_unique,3),
                        g4 = create_binary_label(group_unique,4),
                        g5 = create_binary_label(group_unique,5),
                        g6 = create_binary_label(group_unique,6),
                        g7 = create_binary_label(group_unique,7),
                        g8 = create_binary_label(group_unique,8),
                        g9 = create_binary_label(group_unique,9)
                    )
                    
                    district += 1
                else:
                    district += 1            
            
                
            hour += 1
        
        day += 1 
    
    month += 1

In [722]:
df_labels.shape

(18104, 22)

In [723]:
df_labels.head(10)

,DAY_OF_WEEK,DISTRICT,HOUR,MONTH,Day,Night,ToNight,ToDay,temperatureMin,temperatureMax,...,snow,Motor_Vehicle_Accident_Response,Larceny,Medical_Assistance,Simple_Assault,Violations,Investigate_Person,Vandalism,Drug_Violation,Larceny_From_Motor_Vehicle
0,7.0,4.0,7.0,7.0,1.0,0.0,15.0,0.0,30.0,45.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,7.0,7.0,7.0,7.0,1.0,0.0,15.0,0.0,30.0,45.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7.0,3.0,8.0,7.0,1.0,0.0,14.0,0.0,30.0,45.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,7.0,9.0,8.0,7.0,1.0,0.0,14.0,0.0,30.0,45.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7.0,4.0,9.0,7.0,1.0,0.0,13.0,0.0,30.0,45.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
5,7.0,1.0,10.0,7.0,1.0,0.0,12.0,0.0,30.0,45.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
6,7.0,8.0,10.0,7.0,1.0,0.0,12.0,0.0,30.0,45.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,7.0,9.0,10.0,7.0,1.0,0.0,12.0,0.0,30.0,45.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8,7.0,1.0,11.0,7.0,1.0,0.0,11.0,0.0,30.0,45.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
9,7.0,2.0,11.0,7.0,1.0,0.0,11.0,0.0,30.0,45.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

### 2013

In [724]:
ds = select_year(2013)

In [725]:
i = 0
# month
month = 1
while month <= 12:
    
    day_max = ds.DAY.loc[ds.MONTH == month].max()
    day = 1
    
    while day <= day_max:
        
        hour = 0
        
        while hour < 24:
            
            district = 1
            
            while district < 13:
                
                select = (ds.MONTH == month) & (ds.DAY == day) & (ds.HOUR == hour) & (ds.DISTRICT == district)
                
                group_unique = ds.OFFENSE_CODE_GROUP.loc[select].unique()
                                
                if len(ds.loc[select]) != 0:
                    
                    i += 1
                    
                    
                    
                    df_labels = append_row(
                        ds,
                        df_labels,
    
                        day_of_week = float(ds.DAY_OF_WEEK.loc[select].unique()),
                        district = float(ds.DISTRICT.loc[select].unique()),
                        hour = float(ds.HOUR.loc[select].unique()),
                        month = float(ds.MONTH.loc[select].unique()),
                        day = float(ds.Day.loc[select].unique()),
                        night = float(ds.Night.loc[select].unique()),
                        ToNight = float(ds.ToNight.loc[select].unique()),
                        ToDay = float(ds.ToDay.loc[select].unique()),
                        temMin = float(ds.temperatureMin.loc[select].unique()),
                        temMax = float(ds.temperatureMax.loc[select].unique()),
                        temDif = float(ds.temperatureDifference.loc[select].unique()),
                        precip = float(ds.precipitation.loc[select].unique()),
                        snow = float(ds.snow.loc[select].unique()),
    
                        g1 = create_binary_label(group_unique,1),
                        g2 = create_binary_label(group_unique,2),
                        g3 = create_binary_label(group_unique,3),
                        g4 = create_binary_label(group_unique,4),
                        g5 = create_binary_label(group_unique,5),
                        g6 = create_binary_label(group_unique,6),
                        g7 = create_binary_label(group_unique,7),
                        g8 = create_binary_label(group_unique,8),
                        g9 = create_binary_label(group_unique,9)
                    )
                    
                    district += 1
                else:
                    district += 1            
            
                
            hour += 1
        
        day += 1 
    
    month += 1

In [726]:
df_labels.shape

(54466, 22)

In [727]:
df_labels.head()

,DAY_OF_WEEK,DISTRICT,HOUR,MONTH,Day,Night,ToNight,ToDay,temperatureMin,temperatureMax,...,snow,Motor_Vehicle_Accident_Response,Larceny,Medical_Assistance,Simple_Assault,Violations,Investigate_Person,Vandalism,Drug_Violation,Larceny_From_Motor_Vehicle
0,7.0,4.0,7.0,7.0,1.0,0.0,15.0,0.0,30.0,45.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,7.0,7.0,7.0,7.0,1.0,0.0,15.0,0.0,30.0,45.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7.0,3.0,8.0,7.0,1.0,0.0,14.0,0.0,30.0,45.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,7.0,9.0,8.0,7.0,1.0,0.0,14.0,0.0,30.0,45.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7.0,4.0,9.0,7.0,1.0,0.0,13.0,0.0,30.0,45.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

### 2014

In [728]:
ds = select_year(2014)

In [729]:
i = 0
# month
month = 1
while month <= 12:
    
    day_max = ds.DAY.loc[ds.MONTH == month].max()
    day = 1
    
    while day <= day_max:
        
        hour = 0
        
        while hour < 24:
            
            district = 1
            
            while district < 13:
                
                select = (ds.MONTH == month) & (ds.DAY == day) & (ds.HOUR == hour) & (ds.DISTRICT == district)
                
                group_unique = ds.OFFENSE_CODE_GROUP.loc[select].unique()
                                
                if len(ds.loc[select]) != 0:
                    
                    i += 1
                    
                    
                    
                    df_labels = append_row(
                        ds,
                        df_labels,
    
                        day_of_week = float(ds.DAY_OF_WEEK.loc[select].unique()),
                        district = float(ds.DISTRICT.loc[select].unique()),
                        hour = float(ds.HOUR.loc[select].unique()),
                        month = float(ds.MONTH.loc[select].unique()),
                        day = float(ds.Day.loc[select].unique()),
                        night = float(ds.Night.loc[select].unique()),
                        ToNight = float(ds.ToNight.loc[select].unique()),
                        ToDay = float(ds.ToDay.loc[select].unique()),
                        temMin = float(ds.temperatureMin.loc[select].unique()),
                        temMax = float(ds.temperatureMax.loc[select].unique()),
                        temDif = float(ds.temperatureDifference.loc[select].unique()),
                        precip = float(ds.precipitation.loc[select].unique()),
                        snow = float(ds.snow.loc[select].unique()),
    
                        g1 = create_binary_label(group_unique,1),
                        g2 = create_binary_label(group_unique,2),
                        g3 = create_binary_label(group_unique,3),
                        g4 = create_binary_label(group_unique,4),
                        g5 = create_binary_label(group_unique,5),
                        g6 = create_binary_label(group_unique,6),
                        g7 = create_binary_label(group_unique,7),
                        g8 = create_binary_label(group_unique,8),
                        g9 = create_binary_label(group_unique,9)
                    )
                    
                    district += 1
                else:
                    district += 1            
            
                
            hour += 1
        
        day += 1 
    
    month += 1

### 2015

In [730]:
ds = select_year(2015)

In [731]:
i = 0
# month
month = 1
while month <= 12:
    
    day_max = ds.DAY.loc[ds.MONTH == month].max()
    day = 1
    
    while day <= day_max:
        
        hour = 0
        
        while hour < 24:
            
            district = 1
            
            while district < 13:
                
                select = (ds.MONTH == month) & (ds.DAY == day) & (ds.HOUR == hour) & (ds.DISTRICT == district)
                
                group_unique = ds.OFFENSE_CODE_GROUP.loc[select].unique()
                                
                if len(ds.loc[select]) != 0:
                    
                    i += 1
                    
                    
                    
                    df_labels = append_row(
                        ds,
                        df_labels,
    
                        day_of_week = float(ds.DAY_OF_WEEK.loc[select].unique()),
                        district = float(ds.DISTRICT.loc[select].unique()),
                        hour = float(ds.HOUR.loc[select].unique()),
                        month = float(ds.MONTH.loc[select].unique()),
                        day = float(ds.Day.loc[select].unique()),
                        night = float(ds.Night.loc[select].unique()),
                        ToNight = float(ds.ToNight.loc[select].unique()),
                        ToDay = float(ds.ToDay.loc[select].unique()),
                        temMin = float(ds.temperatureMin.loc[select].unique()),
                        temMax = float(ds.temperatureMax.loc[select].unique()),
                        temDif = float(ds.temperatureDifference.loc[select].unique()),
                        precip = float(ds.precipitation.loc[select].unique()),
                        snow = float(ds.snow.loc[select].unique()),
    
                        g1 = create_binary_label(group_unique,1),
                        g2 = create_binary_label(group_unique,2),
                        g3 = create_binary_label(group_unique,3),
                        g4 = create_binary_label(group_unique,4),
                        g5 = create_binary_label(group_unique,5),
                        g6 = create_binary_label(group_unique,6),
                        g7 = create_binary_label(group_unique,7),
                        g8 = create_binary_label(group_unique,8),
                        g9 = create_binary_label(group_unique,9)
                    )
                    
                    district += 1
                else:
                    district += 1            
            
                
            hour += 1
        
        day += 1 
    
    month += 1

### 2016

In [732]:
ds = select_year(2016)

In [733]:
i = 0
# month
month = 1
while month <= 12:
    
    day_max = ds.DAY.loc[ds.MONTH == month].max()
    day = 1
    
    while day <= day_max:
        
        hour = 0
        
        while hour < 24:
            
            district = 1
            
            while district < 13:
                
                select = (ds.MONTH == month) & (ds.DAY == day) & (ds.HOUR == hour) & (ds.DISTRICT == district)
                
                group_unique = ds.OFFENSE_CODE_GROUP.loc[select].unique()
                                
                if len(ds.loc[select]) != 0:
                    
                    i += 1
                    
                    
                    
                    df_labels = append_row(
                        ds,
                        df_labels,
    
                        day_of_week = float(ds.DAY_OF_WEEK.loc[select].unique()),
                        district = float(ds.DISTRICT.loc[select].unique()),
                        hour = float(ds.HOUR.loc[select].unique()),
                        month = float(ds.MONTH.loc[select].unique()),
                        day = float(ds.Day.loc[select].unique()),
                        night = float(ds.Night.loc[select].unique()),
                        ToNight = float(ds.ToNight.loc[select].unique()),
                        ToDay = float(ds.ToDay.loc[select].unique()),
                        temMin = float(ds.temperatureMin.loc[select].unique()),
                        temMax = float(ds.temperatureMax.loc[select].unique()),
                        temDif = float(ds.temperatureDifference.loc[select].unique()),
                        precip = float(ds.precipitation.loc[select].unique()),
                        snow = float(ds.snow.loc[select].unique()),
    
                        g1 = create_binary_label(group_unique,1),
                        g2 = create_binary_label(group_unique,2),
                        g3 = create_binary_label(group_unique,3),
                        g4 = create_binary_label(group_unique,4),
                        g5 = create_binary_label(group_unique,5),
                        g6 = create_binary_label(group_unique,6),
                        g7 = create_binary_label(group_unique,7),
                        g8 = create_binary_label(group_unique,8),
                        g9 = create_binary_label(group_unique,9)
                    )
                    
                    district += 1
                else:
                    district += 1            
            
                
            hour += 1
        
        day += 1 
    
    month += 1

### 2017

In [734]:
ds = select_year(2017)

In [735]:
i = 0
# month
month = 1
while month <= 12:
    
    day_max = ds.DAY.loc[ds.MONTH == month].max()
    day = 1
    
    while day <= day_max:
        
        hour = 0
        
        while hour < 24:
            
            district = 1
            
            while district < 13:
                
                select = (ds.MONTH == month) & (ds.DAY == day) & (ds.HOUR == hour) & (ds.DISTRICT == district)
                
                group_unique = ds.OFFENSE_CODE_GROUP.loc[select].unique()
                                
                if len(ds.loc[select]) != 0:
                    
                    i += 1
                    
                    
                    
                    df_labels = append_row(
                        ds,
                        df_labels,
    
                        day_of_week = float(ds.DAY_OF_WEEK.loc[select].unique()),
                        district = float(ds.DISTRICT.loc[select].unique()),
                        hour = float(ds.HOUR.loc[select].unique()),
                        month = float(ds.MONTH.loc[select].unique()),
                        day = float(ds.Day.loc[select].unique()),
                        night = float(ds.Night.loc[select].unique()),
                        ToNight = float(ds.ToNight.loc[select].unique()),
                        ToDay = float(ds.ToDay.loc[select].unique()),
                        temMin = float(ds.temperatureMin.loc[select].unique()),
                        temMax = float(ds.temperatureMax.loc[select].unique()),
                        temDif = float(ds.temperatureDifference.loc[select].unique()),
                        precip = float(ds.precipitation.loc[select].unique()),
                        snow = float(ds.snow.loc[select].unique()),
    
                        g1 = create_binary_label(group_unique,1),
                        g2 = create_binary_label(group_unique,2),
                        g3 = create_binary_label(group_unique,3),
                        g4 = create_binary_label(group_unique,4),
                        g5 = create_binary_label(group_unique,5),
                        g6 = create_binary_label(group_unique,6),
                        g7 = create_binary_label(group_unique,7),
                        g8 = create_binary_label(group_unique,8),
                        g9 = create_binary_label(group_unique,9)
                    )
                    
                    district += 1
                else:
                    district += 1            
            
                
            hour += 1
        
        day += 1 
    
    month += 1

### 2018

In [736]:
ds = select_year(2018)

In [737]:
i = 0
# month
month = 1
while month <= 12:
    
    day_max = ds.DAY.loc[ds.MONTH == month].max()
    day = 1
    
    while day <= day_max:
        
        hour = 0
        
        while hour < 24:
            
            district = 1
            
            while district < 13:
                
                select = (ds.MONTH == month) & (ds.DAY == day) & (ds.HOUR == hour) & (ds.DISTRICT == district)
                
                group_unique = ds.OFFENSE_CODE_GROUP.loc[select].unique()
                                
                if len(ds.loc[select]) != 0:
                    
                    i += 1
                    
                    
                    
                    df_labels = append_row(
                        ds,
                        df_labels,
    
                        day_of_week = float(ds.DAY_OF_WEEK.loc[select].unique()),
                        district = float(ds.DISTRICT.loc[select].unique()),
                        hour = float(ds.HOUR.loc[select].unique()),
                        month = float(ds.MONTH.loc[select].unique()),
                        day = float(ds.Day.loc[select].unique()),
                        night = float(ds.Night.loc[select].unique()),
                        ToNight = float(ds.ToNight.loc[select].unique()),
                        ToDay = float(ds.ToDay.loc[select].unique()),
                        temMin = float(ds.temperatureMin.loc[select].unique()),
                        temMax = float(ds.temperatureMax.loc[select].unique()),
                        temDif = float(ds.temperatureDifference.loc[select].unique()),
                        precip = float(ds.precipitation.loc[select].unique()),
                        snow = float(ds.snow.loc[select].unique()),
    
                        g1 = create_binary_label(group_unique,1),
                        g2 = create_binary_label(group_unique,2),
                        g3 = create_binary_label(group_unique,3),
                        g4 = create_binary_label(group_unique,4),
                        g5 = create_binary_label(group_unique,5),
                        g6 = create_binary_label(group_unique,6),
                        g7 = create_binary_label(group_unique,7),
                        g8 = create_binary_label(group_unique,8),
                        g9 = create_binary_label(group_unique,9)
                    )
                    
                    district += 1
                else:
                    district += 1            
            
                
            hour += 1
        
        day += 1 
    
    month += 1

In [738]:
df_labels.shape

(222927, 22)

In [739]:
df_labels.head()

,DAY_OF_WEEK,DISTRICT,HOUR,MONTH,Day,Night,ToNight,ToDay,temperatureMin,temperatureMax,...,snow,Motor_Vehicle_Accident_Response,Larceny,Medical_Assistance,Simple_Assault,Violations,Investigate_Person,Vandalism,Drug_Violation,Larceny_From_Motor_Vehicle
0,7.0,4.0,7.0,7.0,1.0,0.0,15.0,0.0,30.0,45.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,7.0,7.0,7.0,7.0,1.0,0.0,15.0,0.0,30.0,45.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7.0,3.0,8.0,7.0,1.0,0.0,14.0,0.0,30.0,45.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,7.0,9.0,8.0,7.0,1.0,0.0,14.0,0.0,30.0,45.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7.0,4.0,9.0,7.0,1.0,0.0,13.0,0.0,30.0,45.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

In [740]:
df_labels.isnull().sum()

DAY_OF_WEEK                            0
DISTRICT                               0
HOUR                                   0
MONTH                                  0
Day                                    0
Night                                  0
ToNight                                0
ToDay                                  0
temperatureMin                         0
temperatureMax                         0
temperatureDifference                  0
precipitation                      26959
snow                               21268
Motor_Vehicle_Accident_Response        0
Larceny                                0
Medical_Assistance                     0
Simple_Assault                         0
Violations                             0
Investigate_Person                     0
Vandalism                              0
Drug_Violation                         0
Larceny_From_Motor_Vehicle             0
dtype: int64

In [741]:
df_labels.describe()

,DAY_OF_WEEK,DISTRICT,HOUR,MONTH,Day,Night,ToNight,ToDay,temperatureMin,temperatureMax,...,snow,Motor_Vehicle_Accident_Response,Larceny,Medical_Assistance,Simple_Assault,Violations,Investigate_Person,Vandalism,Drug_Violation,Larceny_From_Motor_Vehicle
count,222927.000000,222927.000000,222927.000000,222927.000000,222927.000000,222927.000000,222927.000000,222927.000000,222927.000000,222927.000000,...,201659.000000,222927.000000,222927.000000,222927.000000,222927.000000,222927.000000,222927.000000,222927.000000,222927.000000,222927.000000
mean,3.999901,5.250625,13.083911,6.585286,0.714911,0.285089,5.128181,2.088083,26.514145,41.559806,...,0.250547,0.209149,0.202205,0.172312,0.141701,0.138292,0.135569,0.122475,0.099638,0.099916
std,1.981740,3.236830,6.353498,3.362045,0.451458,0.451458,4.748373,3.660023,9.274814,9.529904,...,0.633535,0.406702,0.401645,0.377652,0.348744,0.345207,0.342331,0.327834,0.299517,0.299889
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,2.000000,9.000000,4.000000,0.000000,0.000000,0.000000,0.000000,19.000000,34.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,5.000000,14.000000,7.000000,1.000000,0.000000,4.000000,0.000000,30.000000,43.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6.000000,8.000000,18.000000,9.000000,1.000000,1.000000,9.000000,4.000000,33.100000,48.000000,...,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,7.000000,12.000000,23.000000,12.000000,1.000000,1.000000,18.000000,14.000000,42.100000,60.100000,...,2.910000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [742]:
df_labels.to_csv('labels-dataset.csv')