In [1]:
import numpy as np
import pandas as pd

In [2]:
# visualization

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from sklearn.cluster import KMeans

In [4]:
df = pd.read_csv('data/finish-crime-weather.csv')

In [5]:
df = df.drop('Unnamed: 0',1)
df = df.drop('Unnamed: 0.1',1)

In [6]:
df.head()

,DAY_OF_WEEK,DISTRICT,HOUR,Lat,Long,MONTH,OCCURRED_ON_DATE,OFFENSE_CODE_GROUP,REPORTING_AREA,SHOOTING,...,Day,Night,ToNight,ToDay,DAY,temperatureMin,temperatureMax,precipitation,snow,temperatureDifference
0,Sunday,2.0,6,42.346381,-71.103794,7,2012-07-08 06:00:00,Residential Burglary,629.0,0.0,...,1,0,16,0,8,30.0,45.0,0.0,0.0,15.0
1,Sunday,1.0,6,42.316841,-71.074585,7,2012-07-08 06:03:00,Aggravated Assault,327.0,1.0,...,1,0,16,0,8,30.0,45.0,0.0,0.0,15.0
2,Sunday,2.0,6,42.342841,-71.096990,7,2012-07-08 06:26:00,Robbery,625.0,0.0,...,1,0,16,0,8,30.0,45.0,0.0,0.0,15.0
3,Sunday,1.0,6,42.316441,-71.065829,7,2012-07-08 06:56:00,Other,258.0,0.0,...,1,0,16,0,8,30.0,45.0,0.0,0.0,15.0
4,Sunday,9.0,7,42.270516,-71.119900,7,2012-07-08 07:15:00,Robbery,496.0,0.0,...,1,0,15,0,8,30.0,45.0,0.0,0.0,15.0

In [7]:
df['clust_50'] = 0
df['clust_100'] = 0
df['clust_200'] = 0

In [8]:
model_50 = KMeans(50)
model_50.fit(df[['Lat','Long']].loc[(df.Lat > 40) & (df.Long < -70)])

df['clust_50'].loc[(df.Lat > 40) & (df.Long < -70)] = model_50.predict(
    df[['Lat','Long']].loc[(df.Lat > 40) & (df.Long < -70)]
)

/home/olexandr/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [9]:
model_100 = KMeans(50)
model_100.fit(df[['Lat','Long']].loc[(df.Lat > 40) & (df.Long < -70)])

df['clust_100'].loc[(df.Lat > 40) & (df.Long < -70)] = model_100.predict(
    df[['Lat','Long']].loc[(df.Lat > 40) & (df.Long < -70)]
)

/home/olexandr/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [10]:
model_200 = KMeans(50)
model_200.fit(df[['Lat','Long']].loc[(df.Lat > 40) & (df.Long < -70)])

df['clust_200'].loc[(df.Lat > 40) & (df.Long < -70)] = model_200.predict(
    df[['Lat','Long']].loc[(df.Lat > 40) & (df.Long < -70)]
)

/home/olexandr/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [11]:
df.head()

,DAY_OF_WEEK,DISTRICT,HOUR,Lat,Long,MONTH,OCCURRED_ON_DATE,OFFENSE_CODE_GROUP,REPORTING_AREA,SHOOTING,...,ToDay,DAY,temperatureMin,temperatureMax,precipitation,snow,temperatureDifference,clust_50,clust_100,clust_200
0,Sunday,2.0,6,42.346381,-71.103794,7,2012-07-08 06:00:00,Residential Burglary,629.0,0.0,...,0,8,30.0,45.0,0.0,0.0,15.0,14,39,14
1,Sunday,1.0,6,42.316841,-71.074585,7,2012-07-08 06:03:00,Aggravated Assault,327.0,1.0,...,0,8,30.0,45.0,0.0,0.0,15.0,47,1,38
2,Sunday,2.0,6,42.342841,-71.096990,7,2012-07-08 06:26:00,Robbery,625.0,0.0,...,0,8,30.0,45.0,0.0,0.0,15.0,14,39,35
3,Sunday,1.0,6,42.316441,-71.065829,7,2012-07-08 06:56:00,Other,258.0,0.0,...,0,8,30.0,45.0,0.0,0.0,15.0,46,34,28
4,Sunday,9.0,7,42.270516,-71.119900,7,2012-07-08 07:15:00,Robbery,496.0,0.0,...,0,8,30.0,45.0,0.0,0.0,15.0,3,3,15

In [1]:
df.to_csv('data/df-clusters-1.csv')

NameError: name 'df' is not defined